.bottom-nav{

position:fixed;

bottom:0;

left:0;

width:100%;

background:#ffffff;

border-top:1px solid #E5E7EB;

display:flex;

justify-content:space-around;

align-items:center;

padding:10px 0;

z-index:1000;

box-shadow:0 -4px 12px rgba(0,0,0,.05);

}

.nav-item{

background:none;

border:none;

display:flex;

flex-direction:column;

align-items:center;

gap:4px;

cursor:pointer;

color:#6B7280;

font-size:12px;

transition:.3s;

}

.nav-item svg{

font-size:22px;

}

.nav-item:hover{

color:#2450CF;

}

.nav-item.active{

color:#2450CF;

}

.nav-item.active svg{

background:#EAF1FF;

padding:8px;

border-radius:50%;

font-size:38px;

}