.verification-row{

display:flex;

justify-content:space-between;

align-items:center;

padding:18px 20px;

border-top:1px solid #ECECEC;

}

.verification-left{

display:flex;

align-items:center;

gap:14px;

}

.verification-left img{

width:48px;

height:48px;

border-radius:50%;

object-fit:cover;

}

.verification-left h4{

font-size:17px;

margin-bottom:4px;

color:#1E2430;

}

.verification-left p{

font-size:14px;

color:#6B7280;

}

.status{

padding:7px 16px;

border-radius:30px;

font-size:14px;

font-weight:500;

}

.pending{

background:#FFF2D8;

color:#C07A00;

}

.review{

background:#E6EEFF;

color:#2450CF;

}

.completed{

background:#DDF7E7;

color:#1E9E4A;

}