.how{

width:90%;

max-width:900px;

margin:auto;

padding:80px 0;

}

.how h4{

text-align:center;

color:#444;

font-size:22px;

margin-bottom:20px;

}

.how h1{

text-align:center;

font-size:52px;

line-height:1.2;

margin-bottom:25px;

color:#222;

}

.intro{

text-align:center;

font-size:20px;

color:#666;

max-width:650px;

margin:0 auto 80px;

line-height:1.6;

}

@media(max-width:768px){

.how h1{

font-size:36px;

}

.intro{

font-size:17px;

}

}